:root {
  --body-background: oklch(100% 0 0);
  --body-color: oklch(0 0 0);
  --body-line-height: 1.7;

  --accent-color: oklch(89.6% 0.18 97);
  --secondary-color: oklch(58% 0.15 40);

  // Grid
  --grid-max-width: 48rem;

  --gap-width-1: 1rem;
  --gap-width-2: 1.5rem;
  --gap-width-3: 2rem;

  // Typography
  --heading-color: oklch(30% 0.1 38.7);
  --text-secondary-color-active: oklch(47% 0.13 40.6);

  --font-size-1: 0.75em;
  --font-size-2: 0.875em;
  --font-size-3: 1em;
  --font-size-4: 1.125em;
  --font-size-5: 1.25em;
}
