<footer class="app-footer">
  <div class="app-footer__legal">
    &copy; <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
  </div>
  <div class="app-footer__community">
    Built with <a href="https://www.ruby-lang.org/en/">Ruby</a> & <a href="https://www.bridgetownrb.com/">Bridgetown</a>
  </div>
</footer>
