<header class="app-header">
  <nav class="app-header__navigation">
    <ul class="app-header__list">
      <li class="app-header__entry app-header__entry--brand"><a href="{{ '/' | relative_url }}" class="app-header__link">olivierobert</a></li>
      <li class="app-header__entry"><a href="{{ '/articles' | relative_url }}" class="app-header__link">Articles</a></li>
      <li class="app-header__entry"><a href="{{ '/notes' | relative_url }}" class="app-header__link">Notes</a></li>
      <li class="app-header__entry"><a href="{{ '/about' | relative_url }}" class="app-header__link">About</a></li>
    </ul>
  </nav>
</header>
