body.home .app-content {
  display: flex;
  align-items: center;

  > * + * {
    margin-top: var(--gap-width-4);
  }

  .callout-block {
    text-align: center;
    border: none;
  }

  .list-social {
    margin-top: var(--gap-width-4);
  }
}
