<!doctype html>
<html class="layout-default layout-default--page" lang="{{ site.locale }}">
  <head>
    {% render "app/head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.page_class }}">
    {% render "app/header", metadata: site.metadata, resource: resource %}

    <main class="app-content">
      <h1>{{ data.title }}</h1>

      {{ content }}
    </main>

    {% render "app/footer", metadata: site.metadata %}
  </body>
</html>
