a {
  color: var(--accent-color);

  // TODO: Add fallback for browsers that do not support `text-underline-offset`
  text-underline-offset: 5px;
  text-decoration: underline;
  text-decoration-color: oklch(83% 0.202 94.75);
}

h1 {
  margin: 1rem 0 3rem;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);

  line-height: 1.2;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}
