@use '../mixins/reset' as reset;

.app-header {
  line-height: 1.5;

  background-color: var(--accent-color);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-block: var(--gap-width-3);
  }

  &__logo {
    font-size: 1.5rem;
  }

  &__navigation {
    display: flex;
    align-items: center;

    font-size: 1.2rem;
  }

  &__naviagtion-menu {
    @include reset.reset-list();

    display: flex;
    justify-content: flex-end;

    gap: 1.5rem;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;
  }
}
