@use '../mixins/reset' as reset;

.app-header {
  display: flex;
  justify-content: space-between;
  padding-block: var(--gap-width-3);

  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;

  &__list {
    @include reset.reset-list();

    display: flex;
    justify-content: flex-end;

    gap: 1.5rem;
  }

  &__link {
    text-decoration: none;
  }
}
