.layout-default {
  background: var(--body-background);

  color: var(--body-color);
  font-size: 108%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  margin: 0 8px;
}

.layout-default .app-content,
.layout-default .app-content {
  line-height: 1.7;
}

.layout-default .app-content {
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  margin: 2rem auto 4rem;
  padding: 25px 25px 50px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}
