@use '../mixins/grid' as grid;

.layout-default {
  background: var(--body-background);

  color: var(--body-color);
  line-height: var(--base-line-height);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.layout-default > body {
  padding-block: 0 4rem;
}

.layout-default .app-header > .app-header__container,
.layout-default .app-content,
.layout-default .app-footer {
  @include grid.containerize();
}

.layout-default .app-content {
  min-height: calc(100vh - 15rem);
  padding-top: 2rem;

  font-size: var(--font-size-4);
}
