<ul class="list-resource {{ resource.data.class_name }}">
  {% for resource in resources %}
    <li class="list-resource__item">
      <a href="{{ resource.relative_url }}" class="list-resource__link">{{ resource.data.title }}</a>
    </li>
  {% endfor %}
</ul>
