<ul class="list-latest-resource">
  {% for resource in resources %}
    <li class="list-latest-resource__item">
      <a href="{{ resource.relative_url }}" list-latest-resource__link>{{ resource.data.title }}</a>
    </li>
  {% endfor %}
</ul>
